* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--rojo: #ba181b;
	--azul: #00b4d8;
	--azul-hover: #48cae4;
	--rojo-hover: #e5383b;
	--verde: #09a129;
}

body {
    overflow-y: auto;
	font-family: Poppins;
	max-width: 1200px;
	margin: 40px auto;
	display: flex;
	justify-content: center;
    background-color: #c9d4df;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;/* Ocupa toda la altura de la ventana */
    margin: 0; /* Eliminar márgenes por defecto */
}

.card-to-do {
    background-color: #f9ca62;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	padding: 25px;
	border-radius: 20px;
	width: 700px;
}

.card-to-do a {
    color: #8c671e; /* Color del link */
    text-decoration: none; /* Quita el subrayado */
    font-size: 18px; /* Tamaño de la fuente */
    margin: 10px 0; /* Espaciado superior e inferior */
    transition: color 0.3s ease; /* Suaviza la transición de color */
}

.card-to-do a h1 {
    color: #8c671e; /* Color del link */
}

.card-to-do a h1:hover {
    color: #967224; /* Color del link */
}



.card-to-do a:hover {
    color: #967224; /* Color del link al pasar el mouse */
    text-decoration: underline; /* Agrega un subrayado al pasar el mouse */
}

.container-card {
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    margin: 0; /* Eliminar márgenes por defecto */
}

.tareas-card {

    background-color: #7dabf6; /* Color de fondo de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    padding: 15px; /* Espaciado interno */
    width: 900px; /* Ancho fijo para tarjetas */
    transition: transform 0.2s; /* Animación suave al hacer hover */
    display: flex; /* Habilita flexbox para el contenedor */
    align-items: center; /* Alinea los items verticalmente al centro */
    margin-bottom: 15px;
}

.tareas-card h1 {
    color: #0f0a4c;
}

.tareas-card p {
    color: #0f0a4c;
}

.tareas-card label {
    margin-right: 50px; /* Espacio a la derecha del checkbox */
}

.tareas-card input[type="checkbox"] {
    transform: scale(1.2); /* Aumenta el tamaño del checkbox */
    margin-right: 10px; /* Espacio entre el checkbox y el texto */ 
}



h1 {
	text-align: center;
    color: #8c671e;
}

p{
    color: #8c671e;
    text-align: center;
}

.counter-todos {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.counter-todos h3 {
	font-weight: 500;
}

.counter-todos span {
	color: #f29559;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.input-update {
	border: none;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: #555;
	width: 100%;
	/* background-color: #000; */
	outline: none;
}

.container-done {
    display: flex;
    align-items: center;
	background-color: #7dabf6;
	border-radius: 20px;
    padding: 5px;
	border: 5px solid ;
    border-color: #7dabf6;
	cursor: pointer;
    height:140px ;
}

.container-done.active {
	background-color: var(--verde);
}

.container-done input {
	border-radius: 10px;
    height: 80px;
}

.container-done textarea {
	border-radius: 10px;
    height: 80px;
}

.container-done label {
    display: flex; /* Usar flex para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra verticalmente si hay más de un elemento */
    margin-top: 10px; /* Espaciado superior opcional */
    color: #fff;
}

.text-decoration-dashed {
	text-decoration: line-through;
}

.btn-delete {
	background-color: var(--rojo);
	color: red;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-delete:hover {
	background-color: var(--rojo-hover);
}

.btn-edit {
	background-color: var(--azul);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-edit:hover {
	background-color: var(--azul-hover);
}

form {
	display: flex;
	gap: 20px;
}

.add-todo h3 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: #555;
}

.btn-add {
	border: none;
	background-color: var(--azul);
	color: #fff;
	padding: 5px 40px;
	border-radius: 20px;
	font-family: inherit;
	cursor: pointer;
	font-size: 17px;
}

.btn-add:hover {
	background-color: var(--azul-hover);
}


.btn-eliminar {
    width: 150px;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #e15757;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.btn-eliminar, .btn-eliminar span {
    transition: 200ms;
}

.btn-eliminar .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.btn-eliminar .icon {
    position: absolute;
    border-left: 1px solid #e15757;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-eliminar svg {
    width: 15px;
    fill: #eee;
}

.btn-eliminar:hover {
    background: #ff3636;
}

.btn-eliminar:hover .text {
    color: transparent;
}

.btn-eliminar:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.btn-eliminar:focus {
    outline: none;
}

.btn-eliminar:active .icon svg {
    transform: scale(0.8);
}

.btn-guardar {
    color: white;
    background-color: #4584ed;
    --ring-color: #93C5FD;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
  }
  
  .btn-guardar:hover {
    background-color: #1E40AF;
  }
  
  .btn-guardar:focus {
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--ring-color);
  }
  
  .btn-guardar svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
    animation: spin_357 1s linear infinite;
  }
  
  @keyframes spin_357 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }